body {
    background: whitesmoke;
}

body > div {
    border-style: solid;
    border-width: 5px;
    background-image: url("https://img2.goodfon.com/original/1920x1080/c/38/kyle-gray-minimal-space-star.jpg");
    background-color: #cccccc;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

h1 {
    position: relative;
    top: 20px;
    text-align: center;
    background-color: lightslategray;
    font-size: 50px;
    font-family: didot, serif;
}

h3 {
    position: relative;
    top: -13px;
    text-align: center;
    background-color: lightslategray;
    font-size: 15px;
    font-family: didot, serif;
}

p {
    font-size: 10px;
    text-align: center;
}

.flip-card-back > h1 {
    font-size: 30px;
}

.flip-card {
    display: flex;
    flex-direction: row;
    float: left;
    padding-left: 50px;
    padding-bottom: 15px;
    background-color: transparent;
    width: 20%;
    height: 200px;
    perspective: 1000px; 
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: lightslategray;
    color: black;
    transform: rotateY(180deg);
  }



